*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
#contact{
	height:100vh;
}
.container{
	width:85%;
	margin:auto;
}
.contact-title h5{
	font-size:14px;
	color:#aaaaaa;
	padding:10px 0;
}
.contact-title h5::after{
	content:"";
	height:1px;
	width:100px;
	background:#ffde9e;
	display:inline-block;
	border:none;
	margin:4px 10px;
}
.contact-title h1{
	padding:5px 0 40px;
	font-family: 'Raleway', sans-serif;
	font-size:2.5rem;
	font-weight:800;
}
.contact-row{
	display:flex;
	flex-wrap:wrap;
	padding:3rem 0 0;
}
/* .contact-col1{ */
	/* width:40%; */
/* } */
/* .contact-col2{ */
	/* width:60%; */
/* } */
.col1-first, .col1-second, .col1-third{
	display:flex;
	padding:10px 0; 
}
.col1-icon{
	border: 1px solid #ffc451;
	border-radius:4px;
	color:#000;
	background-color:#ffc451;
	font-size:20px;
	width: 44px;
    height: 44px;
	display: flex;
    justify-content: center;
    align-items: center;	
}
.col1-cnt{
	padding:10px 20px ;
}
.col1-cnt p{
	font-family: 'Raleway', sans-serif;
}
.col2-input input{
	width:47.192%;
	padding:10px;
}
.col2-input2 input{
	width:100%;
	padding:10px;
}
 .col2-input2 textarea{
	width:100%;
	padding:10px;
}
#name, #sub, #msg, #email{
	margin:0 10px 10px;
}
.col2-btn{
	text-align:center;
}
.col2-btn button{
	padding:10px 18px;
	border: 1px solid #ffc451;
	border-radius:4px;
	color:#000;
	background-color:#ffc451;

}
